@import 'react-quill-new/dist/quill.snow.css';

.product-form-rich-editor {
  width: 100%;
}

.product-form-rich-editor .ql-toolbar.ql-snow {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-color: #e4e4e7;
}

.product-form-rich-editor .ql-toolbar.ql-snow button {
  width: 28px;
  height: 24px;
  padding: 3px 5px;
}

.product-form-rich-editor .ql-toolbar.ql-snow button svg {
  width: 18px;
  height: 18px;
  max-width: 18px;
  max-height: 18px;
}

.product-form-rich-editor .ql-toolbar.ql-snow .ql-picker-label svg {
  width: 18px;
  height: 18px;
  max-width: 18px;
  max-height: 18px;
}

.product-form-rich-editor .ql-container.ql-snow {
  min-height: 180px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: #e4e4e7;
  font-size: 15px;
}

.product-form-rich-editor .ql-editor {
  min-height: 180px;
}
